<%= current_user.username %><br >
Welcome to the UMA exams application
<div>
  <a href="http://exams-dev.uma.edu/questions">Work with Questions</a><br />
  <a href="http://exams-dev.uma.edu/answers">Work with Answers</a><br />
  <a href="http://exams-dev.uma.edu/tests">Work with Tests</a><br />
</div>
