Logged in as <%= current_user.username %>, department: <%= current_user.department.name%> <br >
Welcome to the UMA exams application
<div>
  To use this application start by creating courses and content areas.  These can then be selected when creating questions.  Answers are created while creating questions.  To create tests select the tests link then enter the test parameters.  Questions will be randomly seleected by the test generator using the parameters you previously entered.
  All tests and components are tagged with your department so that only those in your department can access them.
</div>
