#banner {
  background: #9c9;
  padding-top: 1px;
  padding-bottom: 10px;
  border-bottom: 1px solid;
  font: small-caps 20px/20px "Times New Roman", serif;
  color: #191970;
  text-align: center;
}

#banner img {
  float: left;
}

#columns {
  background: #191970;
}

#main {
  margin-left: 8em;
  padding-top: 1px;
  padding-left: 2em;
  font-size: medium;
  background: white;
}

#side {
  float: left;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 7em;
  background: #191970;
}

#side a {
  color: white;
  font-size: medium;
}

